

.navbar{
    text-align: center;
    height: 50px;
    line-height:  50px;
    width: 100%;
    background-color: #ddd;
    color: black;
    margin: 0px, auto;
    letter-spacing:1px ;
}

.navbar a{
    color: black;
    text-decoration: none;
    margin-right: 20px;
}

.alt_navbar {
    height: 25px;
    background-color: coral;
    width: 100px;
}